body { 
  background: #FFA500; 
}

.header_div {
     background: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg");
     color: white; 
    }

.header_div p{ font-family: 'Roboto', sans-serif;
     letter-spacing: 2px;
      font-size: 12px;
       font-weight: bold;
     }
     
     .main_div button { 
         font-family: 'Roboto', sans-serif;
         margin-top: 30px;
          width: 130px;
           font-weight: bolder;
            letter-spacing: 3px; }